<div class="row">
	<div class="col-12">
		<img src="https://res.cloudinary.com/ddsihrmda/image/upload/v1504563973/main-img-ed-re-one_km4hoe.jpg" class="img-fluid" alt="Responsive image" />
	</div>
</div>