<div class="row">
	<!-- Left Column (8 of 12) -->
	<div class="col-12 col-md-8">
		<!-- Welcome Section -->
		<div class="border-outline">
			<div>
	      		<p>Welcome to our Saint Paschal Baylon Community. Saint Paschal’s is a vibrant community of nearly 6000 families. We were founded in 1960 and so we have been serving the people of the Conejo Valley for over 55 years. I hope that you find valuable information here on our website. Please know that St. Paschal’s is here to serve you to the best of our ability. Please feel free to contact me or the other clergy and staff to assist you. Saint Paschal’s is a community where all are welcome. Please join us for our celebrations. We would love to have you as members of our parish family. God bless you and all your loved ones.</p>

	  			<div class="welcomeMessageSignature">
	  			With every good wish,<br/>
	  			Father Michael Rocha, Pastor
	  			</div>
        	</div>
		</div>

		<hr class="custom-hr"/>
		
		<!-- Mass Time Section -->
		<div class="border-outline">
			<div>
				<h2 class="massTimesTitle">Mass Times</h2>
			</div>
			<div>
				<div class="MassTimesDay">Sunday</div>
				<div class="MassTimesTime">7:30am | 9:00am | 10:45am | 12:30pm | Spanish 5:30pm</div>
			</div>
			<div>
				<div class="MassTimesDay">Monday - Friday</div>
				<div class="MassTimesTime">6:30am | 8:15am</div>
			</div>
			<div>
				<div class="MassTimesDay">Saturday</div>
				<div class="MassTimesTime">8:15am | 5:30pm</div>
			</div>
			<div>Confession and Holy Days</div>
			<div>
				<div class="MassTimesDay">Saturday Confession</div>
				<div class="MassTimesTime">3:30pm to 5:00pm | Spanish 8:00pm to 9:00pm</div>
			</div>
			<div>
				<div  class="MassTimesDay">Holy Days and Religious Holidays</div>
				<div  class="MassTimesTime">6:30am | 8:15am | 12:05pm | 7:30pm</div>
			</div>			
		</div>

		<hr class="custom-hr"/>
		
		<!-- Upcoming Even Section -->
		<div class="border-outline">
			<div class="eventsOuterContainer">
            <div><h2 class="EventsTitle">Upcoming Events</h2></div>

            <div class="eventContainer">
                <div class="eventTitle">Event 1</div>
                <div>Event 1 Details</div>
            </div>
            <div class="eventContainer">
                <div class="eventTitle">Event 2</div>
                <div>Event 2 Details</div>
            </div>
            <div class="eventContainer">
                <div class="eventTitle">Event 3</div>
                <div>Event 3 Details</div>
            </div>                      
        </div>  	
		</div>
	</div> 

	<!-- Right Column (4 of 12) -->
	<div class="col-12 col-md-4">
		<!-- Holy Person Of The Day Section -->
		<div class="sodOuter">
    		<div class="sodTitleDiv">
    				<h4 class="sodTitle">Holy Person of the day</h4>
    		</div>
    		<div class="stMid">
    			<div class="stLeftInnerInner">
    					<div class="stLeftInnerInnerInner">
        			 		<p class="stName">Saint Name</p>
        			 	</div>
        			 	<div class="stLeftInnerInnerInnerMid">
        			 		<p class="stInfo">Birth Year</p>
        			 		<hr class="hrStat" />
        			 		<p class="stInfo">1910</p>
        			 	</div>
        			 	<div class="stLeftInnerInnerInner">
        			 		<p class="stInfo">Birth Location</p>
        			 		<hr class="hrStat" />
        			 		<p class="stInfo">Santa Barbara</p>
        			 	</div>
    			</div>
    			<div class="stRightInnerInner">
    					<!-- <Image class="sodImage" src={this.state.image} responsive /> -->
    			</div>
    		</div>
    		<div class="stLower">
    				<p class="stBioInfo">Bio</p>
    				<hr class="hrBioStat" />
    				<p class="stBio">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    		</div>
    	</div>
	<!-- Catholic News and Prayers Sections -->
		<div class="cNews-Prayers">
			<div class="btn-group d-flex" data-toggle="buttons">
			  <label id="news-input" class="btn btn-secondary w-50 news-prayer-switch active">
			    <input type="radio" name="options" id="option1" autocomplete="off" checked> Catholic News
			  </label>
			  <label id="prayer-input" class="btn btn-secondary news-prayer-switch w-50">
			    <input type="radio" name="options" id="option2" autocomplete="off"> Prayers
			  </label>
			</div>
		</div>
			<div id="news-output-container">
				{{# each articles}}

					<div>
						<a href="{{link}}" target="_blank">
						<p>{{text}}</p>
						</a>
					</div>
				{{/each}}
			</div>
		<div id="prayers-output-container"></div>
	</div> <!-- Col 4 End -->

</div> <!-- Row End -->
