<div class="row">
	<div class="col-8">
		<div class="border-outline">
			<div>
	      		<p>Welcome to our Saint Paschal Baylon Community. Saint Paschal’s is a vibrant community of nearly 6000 families. We were founded in 1960 and so we have been serving the people of the Conejo Valley for over 55 years. I hope that you find valuable information here on our website. Please know that St. Paschal’s is here to serve you to the best of our ability. Please feel free to contact me or the other clergy and staff to assist you. Saint Paschal’s is a community where all are welcome. Please join us for our celebrations. We would love to have you as members of our parish family. God bless you and all your loved ones.</p>

	  			<div class="welcomeMessageSignature">
	  			With every good wish,<br/>
	  			Father Michael Rocha, Pastor
	  			</div>
        	</div>
	</div>
	<div class="col-4">
	</div>
</div>
